@model IEnumerable<KIDORA.ViewModels.ListSanPhamVM>

<div class="row g-4 justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="rounded position-relative fruite-item">
                <div class="fruite-img">
                    <img src="~/Anh/@item.AnhChinh"
                         class="img-fluid w-100 rounded-top"
                         alt="@item.TenSp">
                </div>

                <!-- BADGE DANH MỤC -->
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; left: 10px;">
                    @item.MaDanhMuc
                </div>

                <div class="p-4 border border-primary border-top-0 rounded-bottom">

                    <h4>
                        <a asp-controller="SanPham"
                           asp-action="ChiTietSanPham"
                           asp-route-id="@item.MaSp"
                           class="text-dark text-decoration-none">
                            @item.TenSp
                        </a>
                    </h4>

                    <p>@item.MoTaNgan</p>

                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">
                            @item.DonGiaBan.ToString("N0") VND
                        </p>

                        <a asp-action="AddToCart"
                           asp-controller="GioHang"
                           asp-route-id="@item.MaSp"
                           class="btn btn-outline-primary rounded-pill px-3">
                            <i class="fa fa-shopping-bag me-2"></i> Thêm vào giỏ
                        </a>
                    </div>

                </div>
            </div>
        </div>
    }
</div>
