@model KIDORA.Data.KhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhauHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatKhauHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDuKcoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDuKcoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHangNavigation.MaHang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaKh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
