@model IEnumerable<KIDORA.Data.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoDuKcoin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHangNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoDuKcoin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHangNavigation.MaHang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaKh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
