@model KIDORA.Data.GdKcoin

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GdKcoin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KieuGd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KieuGd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoKcoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoKcoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDuSauGd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDuSauGd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianGd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianGd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDonHangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDonHangNavigation.MaDonHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.MaKh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaGdKcoin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
