@model KIDORA.Data.HangThanhVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HangThanhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MucChiTieu6Thang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MucChiTieu6Thang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TyLeHoanKcoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TyLeHoanKcoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
